
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    background-color: red;
}
.firstline{
    background-color: orange;
}
ul{
    background-color: yellow;
}
a{
    background-color: rgb(12, 171, 12);
    display: block;
}
label{
    background-color: rgb(22, 96, 234);
}
button{
    background-color: rgb(158, 40, 232);
}
#logo{
    width: 300px;
    display: block;
    position: static;
}
#dog{
    width: 250px;
    position: absolute;
    top: 50px;
    left: 400px;
}
#hidden{
    background-color: gray;
    display: none;
}
.textbox{
    color: white;
    background-color: black;
}
/* Inheritance */
.parent{
    color:red;
}
.child{
    color:blue;
}
#seccondchild{
    color:blue;
}

/* Parent */
.nature{ 
    width: 150px;
}
/* Child */
.landscape{
    width:inherit;
}
.trees{
    width:100px;
}
#aurora{
    width:inherit;
}

/* Cats flexbox*/
.cats{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin:20px;
    overflow:hidden;
    background-color: pink;
    padding:30px;
    
}
.cats img{
    width:150px;
    height:200px;
    object-fit:cover;
    border: 3px solid #73a1b2;
    border-radius: 30px;
}

/* Grid */
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,100px);
    border: 3px solid #73a1b2;;
}
.grid-item{
    background-color: pink;
    border: 3px solid lightblue;
    padding: 10px;
    text-align: center;
}
#grid-image{
    width: 100px;
    grid-column: 2/span 2;
    grid-row: 3/span 2;
    
}
